<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
</head>
<body>
    <h2>Welcome to the Great Number Game</h2>
    <p>I am thinking of a number between 1 and 100.</p>
    <p>Take a guess</p>
    <form action="/guess" method="post">
        <input type="text" name="num_guess" placeholder="Enter number here">
        <button type="submit">Submit</button>
    </form>
</body>
</html>