<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Edit User</title>
</head>
<body>
    <h3>Edit User {{ one_user['id'] }}</h3>
    <form action="/users/{{ one_user['id'] }}/update" method="POST">
        <p>First Name: <input type="text" name="first_name"></p>
        <p>Last Name: <input type="text" name="last_name"></p>
        <p>Email: <input type="text" name="email"></p>
        <input type="submit" value="Update">
    </form>
    <a href="/users/{{ one_user['id'] }}">Show</a>
    <a href="/users">Go Back</a>
</body>
</html>